<form action="@delete" method="post">
	<div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title">Are you sure?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>You are deleting the following files or folders: </p>
					<ul class="list-group multi-files">
						
					</ul>
					<input type="hidden" name="files" value="" class="multi-files-value" />
				</div>
				<div class="modal-footer bg-light">
					<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
</form>
