<form action="@mkdir" method="post">
	<div id="mkdir" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title">Create a folder</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input class="form-control" name="folder" type="text" id="mkdir-folder" placeholder="folder-name" required />
				</div>
				<div class="modal-footer bg-light">
					<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>
		</div>
	</div>
</form>
