<form action="@rename" method="post">
	<div id="rename" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title">Rename files or folders</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="rename-files">
						
					</div>
					<input type="hidden" name="files" value="" class="rename-files-value" />
				</div>
				<div class="modal-footer bg-light">
					<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Rename</button>
				</div>
			</div>
		</div>
	</div>
</form>
