<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-sm">
	<a class="navbar-brand" href="/">File Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav mr-auto">
            {{#eachpath path}}
                <a class="nav-item nav-link{{#if current}} active{{/if}}" href="{{path}}">{{name}}</a>
            {{/eachpath}}
        </div>
        <div class="navbar-nav">
            {{#if isloginenabled}}
            {{#if isloggingin}}
                <a class="nav-item nav-link" href="/@login" title="Sign in">
                    <span class="octicon octicon-sign-in"></span>
                </a>
            {{else}}
                <a class="nav-item nav-link" href="/@logout" title="Sign out">
                    <span class="octicon octicon-sign-out"></span>
                </a>
            {{/if}}
            {{/if}}
        </div>
    </div>
</nav>
