<nav class="navbar navbar-light bg-faded navbar-fixed-bottom">
	<div class="btn-group" role="group">
		<a class="btn btn-secondary" href="@upload" data-toggle="modal" data-target="#upload">
			<span class="octicon octicon-cloud-upload"></span>
			Upload
		</a>
		<a class="btn btn-secondary" href="@mkdir" data-toggle="modal" data-target="#mkdir">
			<span class="octicon octicon-file-directory"></span>
			New folder
		</a>
	</div>
	<div class="btn-group" role="group">
		<a class="btn btn-secondary" href="@download" data-toggle="modal" data-target="#download">
			<span class="octicon octicon-file-zip"></span>
			Download
		</a>
		<a class="btn btn-secondary" href="@delete" data-toggle="modal" data-target="#delete">
			<span class="octicon octicon-trashcan"></span>
			Delete
		</a>
	</div>
	<div class="btn-group pull-xs-right" role="group">
		<a class="btn btn-secondary" href="./">
			<span class="octicon octicon-sync"></span>
			Refresh
		</a>
	</div>
</nav>
