<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>File Manager</title>

    <link rel="stylesheet" href="/octicons/octicons.min.css" />

    <script src="/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/xterm/xterm.css" />
    <script src="/xterm/xterm.js"></script>
    <script src="/xterm/addons/attach/attach.js"></script>
    <script src="/xterm/addons/fit/fit.js"></script>

    <script src="/filesize/filesize.js"></script>
    
    <link rel="stylesheet" href="/assets/fonts.css" />

    <link rel="stylesheet" href="/assets/list.css" />
    <script src="/assets/list.js"></script>
    <script src="/assets/multi.js"></script>

    <link rel="stylesheet" href="/assets/upload.css" />
    <script src="/assets/upload.js"></script>

    <link rel="stylesheet" href="/assets/login.css" />
    <script src="/assets/login.js"></script>

    <link rel="stylesheet" href="/assets/cmd.css" />
    <link rel="stylesheet" href="/assets/shell.css" />
    <script src="/assets/shell.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
