<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>File Manager</title>
	<!-- icons -->
	<link rel="stylesheet" href="/@assets/octicons/build.css" />
	<!-- bootstrap -->
	<script src="/@assets/jquery/jquery.min.js" defer></script>
	<link rel="stylesheet" href="/@assets/bootstrap/css/bootstrap.min.css" />
	<script src="/@assets/bootstrap/js/bootstrap.bundle.min.js" defer></script>
	<!-- xterm -->
	<link rel="stylesheet" href="/@assets/xterm/css/xterm.css" />
	<script src="/@assets/xterm/lib/xterm.js" defer></script>
	<script src="/@assets/xterm-addon-attach/lib/xterm-addon-attach.js" defer></script>
	<script src="/@assets/xterm-addon-fit/lib/xterm-addon-fit.js" defer></script>
	<!-- file size math -->
	<script src="/@assets/filesize/filesize.js" defer></script>
	<!-- common utilities -->
	<script src="/@assets/common.js" defer></script>
	<!-- navbar, tooltip -->
	<link rel="stylesheet" href="/@assets/navbar.css" />
	<script src="/@assets/tooltip.js" defer></script>
	<!-- list, multi-select -->
	<link rel="stylesheet" href="/@assets/list.css" />
	<script src="/@assets/multi.js" defer></script>
	<!-- rename -->
	<script src="/@assets/rename.js" defer></script>
	<!-- upload -->
	<link rel="stylesheet" href="/@assets/upload.css" />
	<script src="/@assets/upload.js" defer></script>
	<!-- login -->
	<link rel="stylesheet" href="/@assets/login.css" />
	<script src="/@assets/login.js" defer></script>
	<!-- cmd -->
	<link rel="stylesheet" href="/@assets/cmd.css" />
	<!-- shell -->
	<script src="/@assets/shell.js" defer></script>
</head>
<body class="bg-light">
	{{{body}}}
</body>
</html>
