<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>File Manager</title>
	<link rel="stylesheet" href="/octicons/font/octicons.min.css" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<script src="/jquery/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/filesize/filesize.es6.js"></script>
	
	<script src="/assets/multi.js"></script>
	<link rel="stylesheet" href="/assets/upload.css" />
	<script src="/assets/upload.js"></script>
	<script src="/assets/login.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/fonts.css" />
</head>
<body>
	{{{body}}}
</body>
</html>
