<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>File Manager</title>

    <link rel="stylesheet" href="/@assets/octicons/build.css" />

    <script src="/@assets/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/@assets/bootstrap/css/bootstrap.min.css" />
    <script src="/@assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/@assets/xterm/css/xterm.css" />
    <script src="/@assets/xterm/lib/xterm.js"></script>
    <script src="/@assets/xterm-addon-attach/lib/xterm-addon-attach.js"></script>
    <script src="/@assets/xterm-addon-fit/lib/xterm-addon-fit.js"></script>

    <script src="/@assets/filesize/filesize.js"></script>

    <link rel="stylesheet" href="/@assets/fonts.css" />

    <link rel="stylesheet" href="/@assets/list.css" />
    <script src="/@assets/list.js"></script>
    <script src="/@assets/multi.js"></script>

    <link rel="stylesheet" href="/@assets/upload.css" />
    <script src="/@assets/upload.js"></script>

    <link rel="stylesheet" href="/@assets/login.css" />
    <script src="/@assets/login.js"></script>

    <link rel="stylesheet" href="/@assets/cmd.css" />
    <script src="/@assets/shell.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
