{{> navbar isloggingin=true}}

<main class="container" style="margin-top: 64px; margin-bottom: 64px;">
	<div class="login text-nowrap m-x-auto">
		{{#each errors as |error|}}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
		{{/each}}
		{{#each successes as |success|}}
			<div class="alert alert-success" role="alert">
				{{success}}
			</div>
		{{/each}}
		<div class="card">
			<form class="card-block" action="/@login" method="post">
				<div class="form-group">
					<label>Token:</label>
					<div class="input-group input-group-lg input-group-digits">
						<input type="number" class="form-control" placeholder="&bull;" />
						<input type="number" class="form-control" placeholder="&bull;" />
						<input type="number" class="form-control" placeholder="&bull;" />
						<input type="number" class="form-control" placeholder="&bull;" />
						<input type="number" class="form-control" placeholder="&bull;" />
						<input type="number" class="form-control" placeholder="&bull;" />
					</div>
					<input name="token" id="login-token-value" type="hidden" />
				</div>
			</form>
		</div>
	</div>
</main>
