{{> navbar}}

<div style="padding-top: 56px; padding-bottom: 56px; height: 100vh">
	<main id="shell" style="height: 100%; background: #000" data-path="/{{path}}"></main>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom">
	<div class="container-fluid px-2">
		<div class="d-flex">
			<div class="btn-group me-2" role="group">
				<a class="btn btn-danger" href="/{{path}}" id="shell-close">
					{{octicon "chevron-left"}}
					<span class="d-none d-sm-inline align-text-bottom">Exit shell</span>
				</a>
				<a class="btn btn-warning" href="@shell" target="_blank" title="Open a new shell tab" data-bs-placement="top">
					{{octicon "terminal"}}
					<span class="d-none d-sm-inline align-text-bottom">New shell</span>
				</a>
			</div>
		</div>
	</div>
</nav>
