{{> navbar}}

<div style="padding-top: 56px; padding-bottom: 56px;">
<main id="shell" data-path="/{{path}}"></main>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom justify-content-between">
    <div class="btn-group mr-auto" role="group">
        <a class="btn btn-primary" href="/{{path}}">
            <span class="octicon octicon-chevron-left"></span>
            Close shell
        </a>
        <a class="btn btn-warning" href="@shell" target="_blank">
            <span class="octicon octicon-terminal"></span>
            New shell
        </a>
    </div>
</nav>
